@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

body, 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.sign-up {
  width: 40%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px #bfbebe;
}

.sign-up h3 {
  flex: 0 1 100%;
  padding: 0 0 15px 0;
  color: #DB2024;
  font-size: 1rem;
}

.sign-up h3 {
  margin-top: 20px;
}

.sign-up input {
  flex: 0 1 100%;
  padding: 15px 0px 15px 50px;
  margin: 7px 0 7px 0;
  background-color: #F9F9F9;
  border: 1px solid #e4e4e4;
  color: #797979;
  font-size: 0.9rem;
  border-radius: 3px;
  outline: none;
}

.sign-up input:hover {
  border: 1px solid #DB2024;
}

label[for="full-name"]::before,
label[for="email"]::before,
label[for="password"]::before,
label[for="card-number"]::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  vertical-align: middle;
  padding-right: 3px;
  font-weight: 900;
  font-size: 1rem;
  color: #797979;
  position: absolute;
  left: 34.6%;
}

label[for="full-name"]::before {
  content: "\f007";
  top: 23.4%;
}

label[for="email"]::before {
  content: "\f0e0";
  top: 33.8%;
}

label[for="password"]::before {
  content: "\f084";
  top: 43.8%;
}

label[for="card-number"]::before {
  content: "\f09d";
  top: 74.1%;
}

label[for="full-name"]::after,
label[for="email"]::after,
label[for="password"]::after,
label[for="card-number"]::after {
  content: "|";
  position: absolute;
  font-size: 1.5rem;
  font-weight: 300;
  color: #797979;
  left: 36%;
  top: 21.7%
}

label[for="email"]::after {
  top: 31.9%
}

label[for="password"]::after {
  top: 42.0%
}

label[for="card-number"]::after {
  top: 72.2%
}

.credit-card,
.paypal {
  flex: 0 1 50%;
  padding: 15px;
  background-color: #F9F9F9;
  border: 1px solid #e4e4e4;
  color: #B9B9B8;
  margin-bottom: 14px;
  font-size: 1rem;
}

.credit-card:hover,
.paypal:hover {
  background-color: #F41412;
  color: #FFFFFF;
  cursor: pointer;
}

.btn-submit {
  background-color: #F41412;
  border: 1px solid #DB2024;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 100px;
  font-weight: 600;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
}