@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.form-wrapper {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-form {
  color: grey;
  width: 300px;
}

.login-form h2 {
  color: white;
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}

.login-form > div {
  padding: 1px 0;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.login-form p {
  border-bottom: 1px solid#E9E9E9;
}

.login-form i {
  margin: 11px 31px;
}

.login-form input {
  border: none;
  font-size: 0.9rem;
  outline: none;
}

.login-form button {
  padding: 10px 45px;
  border-radius: 20px;
  border: none;
  background-color: #D41872;
  color: white;
  font-weight: 600;
  margin-bottom: 16px;
  margin-left: 90px;
  cursor: pointer;
  outline: none;
}



