@media screen and (max-width: 600px) {
  main {
    width: 95%;
  }

  main section:nth-child(2) article, main section:nth-child(4) article {
    margin-left: 15%;
  }

  .left-to-right:first-child {
    height: 500px;
    padding: 55px
  }

  main .left-to-right article {
    width: auto;
    border-radius: 25%;
    padding: 0 30px;
  }

  header h1 {
    font-size: 1.8rem;
  }

  button {
    display: none;
  }

  main section:nth-child(2),
  main section:nth-child(4) {
    flex-flow: column;
  }

  main section.left-to-right:nth-child(3) {
    padding: 50px 75px 90px 75px;
  }

  form {
    width: 100%;
    text-align: center;
  }

  section form label input,
  section form textarea {
    width: 70%;
  }

}